<form #suscriptionForm="ngForm" (ngSubmit)="onSubmit(suscriptionForm);">
  <p>
    <label for="fullname">Nombres</label>
    <input type="text" name="fullname" #fullname="ngModel" [(ngModel)]="model.fullname" required>
    <span>{{ fullname.value }}</span>
    <span class="error" *ngIf="fullname.invalid && (fullname.touched || fullname.dirty)">
      <ng-container *ngIf="fullname.errors.required">
        El campo es obligatorio
      </ng-container>
    </span>
  </p>
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="model.email">
  </p>
  <div ngModelGroup="address">
    <p>
      <label for="city">Ciudad</label>
      <input type="text" name="city" #city="ngModel" [(ngModel)]="model.address.city">
    </p>
    <p>
      <label for="zipcode">Codigo Postar</label>
      <input type="text" name="zipcode" #zipcode="ngModel" [(ngModel)]="model.address.zipcode">
    </p>
    <p>
      <label for="street">Calle</label>
      <input type="text" name="street" #street="ngModel" [(ngModel)]="model.address.street">
    </p>
  </div>
  <button type="submit" [disabled]="suscriptionForm.invalid && (!suscriptionForm.touched || !suscriptionForm.dirty)">Enviar</button>
</form>
<pre>
  {{ suscriptionForm.value | json }}
  valid form: {{ suscriptionForm.valid }}
  invalid form: {{ suscriptionForm.invalid }}
  {{ suscriptionForm.touched }}
  {{ suscriptionForm.dirty }}
  valid: {{ fullname.valid }}
  invalid: {{ fullname.invalid }}
  touched: {{ fullname.touched }}
  dirty: {{ fullname.dirty }}
</pre>