<router-outlet></router-outlet>

<app-hello></app-hello>

<h2>Ejemplos prácticos sobre data binding</h2>

<div id="practiceInterpolation">
  <p class="row-{{ 1 + 1 }}">
  {{ 'Mostrando el valor de una variable del componente con Interpolation' }} para el proyecto <b>{{ title }}</b>
  </p>

  <p>
    <img src="{{ imageUrl }}"> imagen con Interpolation.
  </p>
</div>

<div id="practicePropertyBinding" [class]="classes">
  <p>
    <img [src]="imageUrl"> imagen desde Property binding.
  </p>
  <p>
    <button [disabled]="isUnchanged"> Property binding </button>
  </p>
</div>


<div id="practiceEventBinding">
  <p>
    <button (click)="changeTitle()">Cambiar titulo</button>
  </p>

  <p>
    <img [src]="imageUrl" [style.display]="displayNone">
    <button (click)="hideImage()">{{ buttonTitle }}</button>
  </p>
</div>

<div id="practiceTwoWayBinding">
  <p>
    <input type="text" [(ngModel)]="title">
  </p>
  <p>
    ejemplo de como funciona el Two-Way-Binding -> {{ title }}
  </p>
</div>

<div>
  <h3>Ejemplos de directivas</h3>
  <p *ngIf="1==1">
    Aplicando ngIf
  </p>

  <p *ngIf="title == 'angular'">
    Este es un mensaje con ngIf
  </p>
</div>

<div>
  <ul>
    <li *ngFor="let directive of directives"> {{ directive }}</li>
  </ul>
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'angular'">
    El titlo del curso es angular
  </p>
  <p *ngSwitchCase="'developteca'">
    El titlo del proyecto es developteca
  </p>
  <p *ngSwitchDefault>
    El titulo no fue encontrado
  </p>
</div>

<ng-template #titleError>
  <p>
    <b>No es el titulo correcto</b>
  </p>
</ng-template>

<div *ngIf="title == 'angular' else titleError">
  El titulo es correcto
</div>

<div>
  <ng-container *ngIf="title == 'angular'">
    <h1>Este es un mensaje con ngIf</h1>
  </ng-container>
</div>

<div>
  <p [ngClass]="'myClass'">
    Estilo con cadenas
  </p>
  <p [ngClass]="['myClass', 'MyclassGlobal']">
    Estilos multiples desde ngClass
  </p>
  <p [ngClass]="myClass"></p>
  <p [ngStyle]="{'width': withExample}"></p>
  </div>